
.content-box{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    width: 100%;
    gap: 30px;
}
.content-main{
    flex-grow: 1;
    border: 1px solid #568ae8;
}
.content-side{
    border: 1px solid #568ae8;
    width: 260px;
}