.content-main_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
}


.content-main_list-item{
    width: calc((100% - 60px)/3);
    height: 200px;
    border: 1px solid red;
}