.footer span{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgb(152, 151, 151);
}
.footer a{
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
    text-decoration: none;
    color: rgb(152, 151, 151);
 }
.footer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}