.content-side {
    width: 20%;
}

.content-side-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
}

.content-side-box img {
    width: 30px;
    height: 30px;
}

.content-side-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.content-side-box p {
    font-size: 14px;
    line-height: 16px;
}

.content-side-title {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .content-side {
        width: 80%;
    }

    .content-side-box {
        justify-content: center;
    }
}